<html>
	<head>
		<style>
			* {font-size:30px}
		</style>
	</head>
	<body>
		<center> 
			<h1> Change Password Page </h1>
			<form method="POST">
				<input type="text" required placeholder="Enter Username" name="un" />
				<br/><br/>
				<input type="password" required placeholder="Enter New Password" name="pw3"/>
				<br/><br/>
				<input type="password" required placeholder="Repeat Password" name="pw4" />
				<br/><br/>
				<input type="submit" value="Save"/> 
			</form>
			{{ msg }} 
		</center>


	</body>



</html>